body {background-color: #ffc15e;
    font-family: Verdana, Geneva, Tahoma, sans-serif; padding: 0px, 50px;
}

.banner {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}
h1,h2,h3,h4 {color:#873a03;}
p {color: #1f1300;}
.funbooks {background-color:#873a03; display:flex;}
.schoolbooks {display:flex; background-color: #873a03;}
.img1, .img2, .img3, .img4 {width: 200px;}
.img2 {}
.theprocess {display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap;}
.processstep {width: 200px;}
.white{color:#ffffff}

.bookcontainer {display:flex; flex-direction: row; justify-content: space-around;flex-wrap: wrap;}
.bookpics {width:150px;}
.textbookpics {width: 150px;}

.navstyle {background-color: #ffffff; padding: 10px;}