body {background-color: #ffc15e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}
h1,h2,h3,h4 {color:#cc5803;}
p {color: #1f1300;}
.funbooks {background-color:#cc5803; display:flex;}
.schoolbooks {display:flex; background-color: #cc5803;}
.img1, .img2, .img3, .img4 {width: 200px;}
.img2 {}
.theprocess {display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap;}
.processstep {width: 200px;}

