body {
    color:#bccef8;
}
head, h1, h2 {
    color:#98a8f8
}
p {
    background-color: #faf7f0;
}
a:visited {
color:#cdfcf6
}
a:hover {
color:#fce700
}
nav {
    background-color:#98a8f8 ;
    color: #fce700;
}
nav a:hover {
    background-color: #faf7f0;
}