body {background-color: #bccef8;
    color:#bccef8;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color:#98a8f8
}
h2 {color: #98a8f8;}
p {
    background-color: #faf7f0;
}
a:hover {
color:#fce700
}
nav {
    background-color:#98a8f8 ;
    padding: 10px;
    color: #4c00b0;
    margin-bottom: 30px;
    
}
nav a:hover {
    background-color: #faf7f0;
}
caption {text-align: center;}

.img {float: left; margin right: 10px}
.clear {clear: both;}
.part2 {display: flex;}
table, th, td {border: 1px solid #000000}
.header {text-align:center}

.parent {display: flex; justify-content: space-around;} 
.sidebar {background-color: #fce700;
border-radius: 25px;
padding: 20px;
width: 100px
height:100px;}
.flexbox2 {display: flex; flex-basis: 70%; justify-content: space-between; margin: 10px; padding: 10px; left: 0;}
.flexbox1 {flex-basis: 30%; margin: 10px; padding: 10px;}