body {
    color:#bccef8;
}
head, h1, h2 {
    color:#98a8f8
}
p {
    background-color: #faf7f0;
}
a:hover {
color:#fce700
}
nav {
    background-color:#98a8f8 ;
    padding: 10px;
    color: #4c00b0;
    margin-bottom: 30px;
    
}
nav a:hover {
    background-color: #faf7f0;
}